/* ====================================
   FOOTER
   ==================================== */

.m-footer {
    @include clearfix();
    text-align: center;
    padding: 18px 15px 10px;
    background: $secondary;
    * {
        line-height: 22px;
        line-height: 2.2rem;
        color: #555;
    }
    strong {
        font-weight: 600;
        text-transform: uppercase;
    }
}