/* ====================================
   HEADER
   ==================================== */

.homepage {
    .m-header  {
        height: 500px;
    }
    .m-header__headline {
        * {
            font-weight: 800;
        }
        span {
            font-size: 30px;
            line-height: 43px;
            font-weight: 300;
            display: block;
            @include breakpoint(768px) {
                font-size: 40px;
                line-height: 58px;
            }
        }
    }
}
.m-header {
    background: url('../img/qhxv_bg.png') center 0 no-repeat;
    background-size: cover;
    height: 400px;
    padding: 0 15px;
    &__topbar {
        padding: 10px 0;
        border-bottom: 1px dotted rgba(255,255,255,.3);
        * {
            font-size: 12px;
            font-size: 1.2rem;
            color: rgba(255,255,255,.6);
        }
    }
    &__logo {
        float: left;
        margin-top: 5px;
    }
    &__menu {
        float: right;
        padding: 8px 0 8px 20px;
        position: relative;
        .menu-icon {
            font-size: 22px;
            font-size: 2.2rem;
            color: #fff;
            &.open .fa-bars:before {
                content: "\f00d";
            }
        }
        #menu_toggle.open, .mega-menu.open {
            display: block;
        }
        .menu-toggle {
            display: none;
            position: absolute;
            right: 0;
            width: 280px;
            background: $primary;
            margin-top: 12px;
            z-index: 1;
            * {
                color: #fff;
            }
            .menu-item {
                border-bottom: 1px solid rgba(255,255,255,.2);
            }
            .menu-heading {
                font-size: 14px;
                font-size: 1.4rem;
                font-weight: 500;
                text-transform: uppercase;
                padding: 10px 18px;
                display: inline-block;
                span {
                    padding: 10px 18px;
                    display: inline-block;
                }
            }
            .fa-angle-down {
                font-size: 20px;
                float: right;
                padding: 10px 18px;
            }
        }
        .mega-menu {
            display: none;
            margin-left: 35px;
            li {
                list-style-type: disc;
                a {
                    padding-bottom: 12px;
                    text-transform: capitalize;
                }
            }
        }
        .search-form {
            padding: 10px;
            position: relative;
            background: $success;
            .form-control {
                font-size: 16px;
                height: 32px;
                color: #333;
                border: none;
                box-shadow: none;
                border-radius: 0;
            }
            .btn-search {
                font-size: 16px;
                font-size: 1.6rem;
                position: absolute;
                right: 20px;
                top: 15px;
                i {
                    color: #333;
                }
            }
        }
    }
    &__headline {
        margin: 25% auto 0;
        text-align: center;
        text-transform: uppercase;
        @include breakpoint(768px) {
            margin-top: 13%;
        }
        * {
            font-size: 45px;
            font-size: 4.5rem;
            line-height: 58px;
            line-height: 5.8rem;
            color: #fff;
            font-weight: 700;
            letter-spacing: 1px;
            @include breakpoint(768px) {
                font-size: 55px;
                line-height: 68px;
            }
        }
    }
}
.breadcrumbs {
    text-align: center;
    margin-top: 20px;
    a {
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
        &:after {
            content: "/";
            color: #fff;
            display: inline-block;
            padding: 0 15px 0 17px;
        }
        &:last-child:after {
            content: none;
        }
    }
    i {
        font-size: 18px;
    }
}