/* ====================================
   CONGRESSMAN
   ==================================== */

.search-filter {
	padding: 15px;
    margin: -30px -15px 30px;
	background: $secondary;
	.d-flex {
		@include breakpoint(0, 375px) {
	        display: block !important;
	    }
	}
	.form-group {
		@include breakpoint(768px) {
	        margin: 0 10px 0 0;
	    }
	}
	.form-control {
		height: 40px;
		border-color: #dfdfdf;
		border-radius: 0;
		font-size: 16px;
		color: #333;
		padding: 0 12px;
		@include breakpoint(768px) {
	        width: 120px;
	    }
	}
	.btn {
		font-size: 14px;
		line-height: 30px;
		display: block;
		border-radius: 0;
		@include breakpoint(768px) {
	        width: 120px;
	    }
	}
}
.congressman {
	&-filter {
		padding: 15px 0;
		margin-bottom: 10px;
		background: $secondary;
		display: flex;
		justify-content: center;
	    align-items: center;
		* {
			font-size: 14px;
		}
		.form-control {
			width: 55%;
			height: 40px;
			border-color: #dfdfdf;
			border-radius: 0;
			font-size: 16px;
			color: #333;
			padding: 0 12px;
			margin: 0 10px;
		}
		.form-text {
			margin: 0;
			span {
				font-weight: 600;
			}
		}
	}
	&-list {
		@include clearfix();
		.story--congressman {
			padding: 20px;
			float: left;
		    border-bottom: 1px dotted #ccc;
		    @include breakpoint(0, 375px) {
		        border-right: none;
		        padding: 20px 5px;
		    }
		    @include breakpoint(768px) {
		        width: 49.5%;
		        min-height: 365px;
		    }
		    .thumb {
		    	margin: 0 15px 0px 0;
		    }
		}
	}
	&-scroll {
	    height: 1024px;
	    margin: auto;
	    overflow-y: scroll;
	}
	&-location {
		@include clearfix();
		padding: 13px 0 10px;
		border-bottom: 1px dotted #ccc;
		.location {
			font-size: 26px;
			font-size: 2.6rem;
			color: $primary;
			vertical-align: middle;
			display: inline;
		}
		.total {
			font-size: 18px;
			font-size: 1.8rem;
			color: #555;
			vertical-align: middle;
			&:before {
				content: "|";
				display: inline-block;
				padding: 0 12px 0 10px;
			}
		}
		.result {
			font-size: 14px;
			float: right;
			margin-top: 8px;
			i {
				font-size: 18px;
				margin-left: 8px;
				vertical-align: middle;
			}
		}
	}
}

// Poll
.modal-txt {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.list_vote {
	@include clearfix();
	li {
		width: 100%;
	    float: left;
	    margin: 0 0 10px;
	    padding: 0 0 15px;
	    border-bottom: 1px dotted #ccc;
	}
	.rsV_left {
	    width: 30%;
	    float: left;
	    font-size: 12px;
	    font-weight: 500;
	    text-transform: uppercase;
	    padding-right: 15px;
	}
	.scroll_color {
	    width: 50%;
	    float: left;
	    margin: 5px 0;
	    height: 5px;
	    background: #ccc;
	    .bg_center_scroll {
	    	position: relative;
		    background: $primary;
		    float: left;
		    height: 5px;
	    }
	    .txt_number_ketqua {
	    	display: inline-block;
		    padding: 5px 0 0;
		    position: absolute;
		    right: 0;
		    bottom: -15px;
		    font-size: 10px;
		    color: $primary;
	    }
	}
	.rsV_right {
	    width: 18%;
	    float: right;
	    font-size: 12px;
	    color: #888;
	    text-align: right;
	    label {
	    	color: #000;
	    	font-weight: 500;
	    }
	}
}