/* ====================================
   DETAILS
   ==================================== */

.details {
    @include clearfix();
    margin-bottom: 20px;
    @include breakpoint(768px) {
        margin-left: 20px;
        margin-right: 20px;
    }
    &__headline {
        font-size: 40px;
        font-size: 4rem;
        line-height: 48px;
        line-height: 4.8rem;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__meta {
        padding-bottom: 20px;
        span {
            margin-right: 35px;
        }
        * {
            font-size: 16px;
            font-size: 1.6rem;
            color: #555;
            font-weight: 300;
            display: inline;
        }
    }
    &__social {
        padding: 10px 0;
        margin-bottom: 20px;
        border-top: 1px dotted #ccc;
        border-bottom: 1px dotted #ccc;
        overflow: hidden;
    }
    &__sapo {
        font-size: 20px;
        font-size: 2rem;
        line-height: 32px;
        line-height: 3.2rem;
        color: #222;
        font-weight: 500;
        margin-bottom: 25px;
        * {
            display: inline;
        }
        a {
            color: $primary;
        }
        b, strong {
            font-weight: 600;
        }
    }
    &__content {
        @include clearfix();
        * {
            font-size: 20px !important;
            font-size: 2rem !important;
            line-height: 32px !important;
            line-height: 3.2rem !important;
            color: #222;
        }
        div, p {
            margin-bottom: 20px;
        }
        b, strong {
            font-weight: 600;
        }
        .details__img * {
            margin: 0;
        }
    }
    &__img {
        .image {
            @include breakpoint(0, 375px) {
                margin: 0 -15px;
            }
            img {
                max-width: 100%;
            }
        }
        .caption {
            font-size: 18px !important;
            line-height: 28px !important;
            color: #555;
            font-weight: 300;
            text-align: center;
            margin-top: 15px;
            &:after {
                content: "";
                display: block;
                width: 100px;
                height: 1px;
                border-top: 1px dotted #ccc;
                margin: 18px auto 0;
            }
        }
    }
    &__tags {
        margin-bottom: 15px;
        li {
            display: inline-block;
            margin-bottom: 5px;
            i {
                font-size: 18px;
                color: $primary;
                vertical-align: middle;
            }
            a {
                font-size: 14px;
                color: #555;
                font-weight: 500;
                text-transform: uppercase;
                text-decoration: underline;
                margin: 0 10px;
            }
        }
    }
}