/* ====================================
   HISTORY
   ==================================== */

.m-label {
	@include clearfix();
    margin: -110px 15px 50px;
    ul {
    	align-items: center;
    	@include breakpoint(768px) {
	        display: flex;
	    }
    	li {
    		@include breakpoint(768px) {
		        width: 33.33%;
		    }
    		&:last-child .outline {
    			@include breakpoint(768px) {
			        float: right;
			    }
    		}
    	}
    }
    .outline {
    	display: none;
    	width: 154px;
    	height: 154px;
        border-radius: 50%;
        padding: 6px;
        border: 1px dashed #ddd;
        position: relative;
        @include breakpoint(768px) {
	        display: block;
	    }
        &-center {
        	display: block;
        	width: 214px;
        	height: 214px;
        	margin: auto;
        	.congress-label {
                color: #fff;
                text-align: center;
                text-decoration: none;
                width: 200px;
                height: 200px;
                display: block;
                padding: 40px 0;
                background: $primary;
                box-shadow: 0 0 0 8px inset rgba(0,0,0,.15);
                &:before, &:after {
                    content: "";
                    display: block;
                    width: 50px;
                    height: 1px;
                    background: rgba(255,255,255,.3);
                    margin: auto;
                }
                &:before {
                    margin-bottom: 15px;
                }
                &:after {
                    margin-top: 15px;
                }
                span {
                    display: block;
                }
                .regular-text {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                }
                .medium-text {
                    font-size: 26px;
                    line-height: 32px;
                }
                .exbold-text {
                    font-size: 28px;
                    line-height: 34px;
                    font-weight: 800;
                }
            }
        }
    }
    .congress-label {
        color: $primary;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: underline;
        width: 140px;
        height: 140px;
        background: #eee;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0 8px inset rgba(0,0,0,.03);
        z-index: 1;
        * {
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 20px;
            line-height: 2rem;
        }
    }
}
.col-left {
	@include breakpoint(768px) {
        width: 50%;
		float: left;
		position: relative;
		padding: 0 30px 50px 0;
			&:after {
			content: "";
			display: block;
		    width: 20px;
		    height: 100%;
		    background: $secondary;
		    position: absolute;
		    right: -8px;
		    top: 0;
		}
    }
}
.img-deco {
	text-align: center;
	margin-bottom: 20px;
}
.col-right {
	@include breakpoint(768px) {
		width: 50%;
		float: right;
	}
	.zone--info {
		@include breakpoint(768px) {
			padding-left: 30px;
			&:last-child {
				padding-top: 50px;
				margin-top: 50px;
				border-top: 20px solid $secondary;
			}
		}
	}
	.zone--source {
		padding-left: 30px;
	}
}
.timeline-key {
	margin-left: 10px;
	li {
		margin: 0 !important;
	}
	.key {
		padding: 0 0 15px 15px;
		position: relative;
		border-left: 1px dotted #ccc;
		&:before {
			content: "";
			display: inline-block;
			width: 8px;
			height: 8px;
			background: $primary;
			border-radius: 50%;
			position: absolute;
		    top: 8px;
		    left: -5px;
		    box-shadow: 0px 0px 0px 8px #fff;
		}
	}
	.date {
		color: $primary;
	}
}