/* ====================================
   BUTTONS
   ==================================== */

.btn-viewmore {
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	background: $primary;
	width: 150px;
	border-radius: 0;
	padding: 10px 0;
}