/* ====================================
   ICONS
   ==================================== */

.divider {
	margin: 10px auto 0;
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		border-bottom: 1px dotted #ccc;
		margin-top: -15px;
	}
	&--short {
		width: 100px;
		margin-top: 35px;
	}
}
.ic {
	background: url('../img/m_qhxv_sprites.svg') no-repeat;
	background-size: 500px 500px;
	display: block;
	&--emblem {
		background: url('../img/m_qhxv_sprites.svg') 20px 0 no-repeat #fff;
		width: 70px;
		height: 30px;
		padding: 0 20px;
		margin: auto;
	    z-index: 1;
	    position: relative;
	}
	&--laurel {
		background-position: -100px 0;
		width: 212px;
		height: 70px;
		margin: -58px auto 0;
	}
	&--yellow-laurel {
		background-position: 0 -200px;
		width: 282px;
	    height: 177px;
	    position: absolute;
	    bottom: -28px;
	    left: -35px;
	}
}
.number {
	background: url('../img/m_qhxv_sprites.svg') no-repeat;
	background-size: 500px 500px;
	display: block;
	width: 57px;
	height: 60px;
	margin: 0 0 -3px 8px;
	&--1 {
		background-position: -400px 0;
	}
	&--2 {
		background-position: -400px -100px;
	}
	&--3 {
		background-position: -400px -200px;
	}
	&--4 {
		background-position: -400px -300px;
	}
	&--5 {
		background-position: -400px -400px;
	}
	&--6 {
		background-position: -300px -400px;
	}
}