/* ====================================
   REGION
   ==================================== */

.zone {
    margin-bottom: 25px;
    &__heading {
        margin-bottom: 35px;
        * {
            font-size: 26px;
            font-size: 2.6rem;
            line-height: 32px;
            line-height: 3.2rem;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
        }
        span {
            font-size: 22px;
            line-height: 27px;
            font-weight: 300;
            display: block;
        }
    }
    &__content {
        @include clearfix();
    }
    &--congress {
        margin: -150px 15px 0;
        .slick-slide {
            display: flex;
            justify-content: center;
        }
        .slick-height {
            height: 292px;
            display: flex;
            align-items: center;
            margin: 0 22px;
            i {
                display: none;
            }
        }
        .outline {
            border-radius: 50%;
            padding: 6px;
            border: 1px dashed #ddd;
            position: relative;
        }
        .congress-label {
            color: $primary;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: underline;
            width: 140px;
            height: 140px;
            background: #eee;
            border-radius: 50%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 0 8px inset rgba(0,0,0,.03);
            z-index: 1;
            * {
                font-size: 16px;
                font-size: 1.6rem;
                line-height: 20px;
                line-height: 2rem;
            }
            .regular-text, .medium-text {
                display: none;
            }
        }
        .slick-center {
            .slick-height {
                margin: 0 45px;
                i {
                    display: block;
                }
            }
            .congress-label {
                color: #fff;
                text-align: center;
                text-decoration: none;
                width: 200px;
                height: 200px;
                display: block;
                padding: 40px 0;
                background: $primary;
                box-shadow: 0 0 0 8px inset rgba(0,0,0,.15);
                &:before, &:after {
                    content: "";
                    display: block;
                    width: 50px;
                    height: 1px;
                    background: rgba(255,255,255,.3);
                    margin: auto;
                }
                &:before {
                    margin-bottom: 15px;
                }
                &:after {
                    margin-top: 15px;
                }
                span {
                    display: block;
                }
                .regular-text {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                }
                .medium-text {
                    font-size: 26px;
                    line-height: 32px;
                }
                .exbold-text {
                    font-size: 28px;
                    line-height: 34px;
                    font-weight: 800;
                }
            }
        }
        .slick-next, .slick-prev {
            background: url('../img/m_qhxv_sprites.svg') no-repeat;
            background-size: 500px 500px;
            width: 32px;
            height: 60px;
            top: 150px;
            bottom: auto;
            &:before {
                content: none;
            }
            &:active {
                margin-top: 1px;
            }
        }
        .slick-next {
            background-position: -100px -100px;
        }
        .slick-prev {
            background-position: 0 -100px;
        }
    }
    &--congressman .cols-2 {
        position: relative;
    }
    .slick-news, .slick-location {
        .slick-next, .slick-prev {
            display: none !important;
        }
        .slick-dots {
            @include breakpoint(0, 320px) {
                top: 150px;
            }
            @include breakpoint(768px) {
                top: 450px;
            }
        }
    }
    &--interview {
        margin-bottom: 50px;
        .slick-dots {
            position: relative;
            top: auto;
            margin-top: 5px;
            li button:before {
                color: #999;
            }
        }
        .slick-next, .slick-prev {
            display: none;
        }
    }
    &--province {
        margin-bottom: 30px;
        .province-list {
            @include clearfix();
            background: url('../img/qhxv_maskbg.png') center 0 no-repeat;
            width: 100%;
            height: 330px;
            margin: 0 0 0 10px;
            overflow-y: auto;
            li {
                float: left;
                border-right: 20px solid $secondary;
                border-bottom: 20px solid $secondary;
                @include breakpoint(768px) {
                    width: 33.33%;
                }
            }
            .item {
                height: 50px;
                font-size: 16px;
                font-size: 1.6rem;
                line-height: 20px;
                line-height: 2rem;
                color: #fff;
                font-weight: 500;
                text-align: center;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .story {
                margin-bottom: 20px;
            }

            .story__thumb {
                width: 218px;
                float: left;
                margin-right: 20px;
            }

            .story__title {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    &--gallery {
        padding-bottom: 10px;
        border-bottom: 5px solid $secondary;
        .story {
            position: relative;
            width: 47.5%;
            margin: 0 3.5% 15px 0;
            display: inline-block;
            vertical-align: top;
            &:nth-child(2n) {
                margin-right: 0;
            }
            &__title {
                padding-top: 10px;
                margin: 0;
                @include breakpoint(0, 375px) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
    &--video {
        .story {
            &.large-thumb {
                margin-bottom: 20px;
                .story__thumb {
                    margin-bottom: 15px;
                }
                .story__title {
                    font-size: 24px;
                    line-height: 30px;
                }
                .summary:before {
                    content: "";
                    display: block;
                    width: 100px;
                    height: 1px;
                    border-top: 1px dotted #ccc;
                    margin: 20px 0 22px;
                }
            }
            &.small-thumb {
                margin-bottom: 18px;
                .story__thumb {
                    width: 47.5%;
                    float: left;
                    margin-right: 20px;
                }
                .story__title {
                    @include breakpoint(0, 375px) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    &--popular {
        .zone__heading {
            margin-bottom: 20px;
        }
        .story__thumb {
            margin-bottom: 15px;
        }
        .story__title {
            font-size: 18px;
            line-height: 24px;
        }
    }
}